name: Build Flet Windows App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Позволяет запускать сборку вручную

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' # Рекомендуемая версия для стабильной работы

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet pyinstaller
          pip install -r requirements.txt

      - name: Build Flutter/Flet App
        run: |
          # Собираем exe. Указываем путь к иконке, если нужно
          flet pack main.py --icon icon.png --name "KroneckerApp"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-app
          path: dist/*.exe